---
layout: default
class: home
---
<header class="Intro">
  <div class="Intro-brand">
    <object data="img/kaos_logo.svg">
      <img src="img/fla_logo.png" alt="KaOS" width="300px">
    </object>
    <span class="animated fadeIn">
        <span class="Intro-beta">KaOS</span>
    </span>
  </div>

  <div class="animated fadeIn">
    
    <h2>A Lean KDE Distribution.</h2>
    KaOS is an
    <div id="typed-strings">
        <p>^1000 indepe</p>
        <p><strong>independent</strong> distribution</p>
    </div>
    <span id="typed"></span>
    <br>
    <div id="typed2-strings">
        <p>^3500 built from <strong>scratch</strong> ^1300</p>
        <p>focused on Qt and KDE.</p>
    </div>
    <span id="typed2"></span>

    <div class="Intro-actions">
      <a href="{{ site.baseurl }}#builds" class="Button">Latest Builds</a>
      <a href="{{ site.baseurl }}#goals" class="Button">Goals</a>
      <a href="{{ site.baseurl }}#repo" class="Button">Limited Repos</a>
    </div>
  </div>
</header>

<div class="animated fadeUp">
  <figure class="Home-screenshot">
    <img src="{{ site.baseurl }}/img/screenshot_1.png" alt="" width="1151">
  </figure>

  <div class="Features" id="builds">
    <div class="Carousel">
    <marquee behavior="scroll" direction="left">
      <div class="CarouselItem">
        <div class="CarouselItem-label">KDE and Qt focused</div>
      </div>
      <div class="CarouselItem">
        <div class="CarouselItem-label">All is built for best integration with KDE and Qt</div>
      </div>
      <div class="CarouselItem">
        <div class="CarouselItem-label">Elegant Simplicity</div>
      </div>
      <div class="CarouselItem">
        <div class="CarouselItem-label">Simple goals, independent decisions bring the power of Plasma 5 to the forefront</div>
      </div>
      <div class="CarouselItem">
        <div class="CarouselItem-label">Splitting of packages is kept to a minimum</div>
      </div>
      <div class="CarouselItem">
        <div class="CarouselItem-label">Primary focus on packaging</div>
      </div>
      <div class="CarouselItem">
        <div class="CarouselItem-label">Using the powerful pacman as package manager</div>
      </div>
      <div class="CarouselItem">
        <div class="CarouselItem-label">Repository layout is simple</div>
      </div>
      <div class="CarouselItem">
        <div class="CarouselItem-label">Every package in every repository is build by and for KaOS</div>
      </div>
      </marquee>
    </div>

    <p class="Features-text">
      KaOS follows the latest innovations, always shipping the most up to date there is available
      for the Plasma Desktop.  Click below to see what is being prepared to move to all users soon.
    </p>

    <div class="Features-actions">
      <a href="http://kaosx.tk/packages/index.php?subdir=build&sortby=date&order=descending" class="Button">See the latest builds</a>
    </div>
  </div>

  {% include screens.html %}
  
  {% include actions.html %}
  
  {% include kcp.html %}
  
  {% include home_sponsors.html %}
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- typing -->
<script src="js/typed.js"></script>
<script>
  $(function(){
        $("#typed").typed({
            stringsElement: $('#typed-strings')
        });
    });
</script>
<script>
  $(function(){
        $("#typed2").typed({
            stringsElement: $('#typed2-strings')
        });
    });
</script>
