<div class="Actions">
  <div class="container">
    <div class="Actions-item">
      <h3><i class="fa fa-leaf fa-2x"></i>Idea</h3>
      <p>The idea behind KaOS is to create a tightly integrated rolling and transparent distribution for the modern desktop, build from scratch with a very specific focus. Focus on one DE (KDE), one toolkit (Qt), one architecture (x86_64) plus a focus on evaluating and selecting the most suitable tools and applications.</p>
      <a href="https://github.com/KaOSx" class="Button">Code on Github</a>
    </div>

    <div class="Actions-item">
      <h3><i class="fa fa-gears fa-2x"></i>Goals</h3>
      <p>All work is geared toward packaging, not developing new tools or applications. There is no goal to make the most possible software available, KaOS will stay limited in size of the repositories, and will work on quality instead of quantity. That goal makes it clear, a large user base is not what is intended or expected.</a></p>
      <a href="{{ site.baseurl }}/about" class="Button">About</a>
    </div>

    <div class="Actions-item">
      <h3><i class="fa fa-user-md fa-2x"></i>Target</h3>
      <p>It targets users who have tried many Operating Systems/Distributions/Desktop Environments and have found they prefer a Distribution that uses all its available resources to work on one DE to make that the best it can be, and know that after their searches, the best for them is KDE.</p>
      <a href="{{ site.baseurl }}/docs" class="Button">Documentation</a>
    </div>
  </div>
</div>
