<div class="fixed">
<div class="social_header">
    <a href="https://groups.google.com/forum/?fromgroups#!forum/kaos-general" target="blank"><i class="fa fa-envelope" title="Google Groups"></i></a>
    <a href="https://github.com/KaOSx" target="blank"><i class="fa fa-github" title="Github"></i></a>
    <a href="https://webchat.kde.org/#/room/#kaosx:matrix.org" target="blank"><i class="fa fa-comments" title="Matrix chat"></i></a>
    <a href="https://www.transifex.com/organization/kaos/dashboard/kaos" target="blank"><i class="fa fa-language" title="Transifex"></i></a>
    <a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss" title="RSS feed"></i></a>
</div>
    
<header class="Header">
  <div class="container" id="header_wrap">
    <h1 class="Header-brand">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/fla_logo.png" alt="{{ site.title }}" width="130">
      </a>
    </h1>
    
    {% assign current = page.url | downcase | split: '/' %}
    
    <nav class="Header-nav">
      <a href="{{ site.baseurl }}/" title="KaOS Overview">Home</a>
      <a href="{{ site.baseurl }}/about" {% if current[1] == 'about' %}class="active"{% endif %} title="Info, FAQ, Contact, Sponsors KaOS">About</a>
      <a href="{{ site.baseurl }}/news" {% if current[1] == 'news' %}class="active"{% endif %} title="KaOS News Archive">News</a>
      <a href="{{ site.baseurl }}/download" {% if current[1] == 'pages' %}class="active"{% endif %} title="Download ISO File">Download</a>
      <a href="{{ site.baseurl }}/docs" {% if current[1] == 'docs' %}class="active"{% endif %} title="KaOS Documentation">Documentation</a>
      <a href="{{ site.baseurl }}/packages" {% if current[1] == 'packages' %}class="active"{% endif %} title="Online Package Viewer">Packages</a>
      <a href="{{ site.baseurl }}/bugs" title="Reporting Bugs">Bugs</a>
      <a href="http://kaos-community-packages.github.io/" title="KaOS Community Packages">KCP</a>
      <a href="http://forum.kaosx.us" title="KaOS Community Forum">Forum</a>
    </nav>
  </div>
</div>
</header>
