<div class="fixed">
<div class="social_header">
    <a href="https://www.facebook.com/groups/kaosx/" target="blank"><i class="fa fa-facebook" title="FaceBook"></i></a>
    <a href="https://groups.google.com/forum/?fromgroups#!forum/kaos-general" target="blank"><i class="fa fa-envelope" title="Google Groups"></i></a>
    <a href="https://github.com/KaOSx" target="blank"><i class="fa fa-github" title="Github"></i></a>
    <a href="http://webchat.freenode.net/?channels=kaosx" target="blank"><i class="fa fa-wechat" title="IRC"></i></a>
    <a href="https://plus.google.com/u/0/communities/116669111554447085724" target="blank"><i class="fa fa-google-plus" title="GPlus"></i></a>
    <a href="https://www.transifex.com/organization/kaos/dashboard/kaos" target="blank"><i class="fa fa-language" title="Transifex"></i></a>
    <a href="https://gitter.im/KaOSx/KaOS/" target="blank"><i class="fa fa-tasks" title="Gitter"></i></a>
    <a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss" title="RSS feed"></i></a>
</div>
    
<header class="Header">
  <div class="container" id="header_wrap">
    <h1 class="Header-brand">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/fla_logo.png" alt="{{ site.title }}" width="130">
      </a>
    </h1>
    
    {% assign current = page.url | downcase | split: '/' %}
    
    <nav class="Header-nav">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/about" {% if current[1] == 'about' %}class="active"{% endif %}>About</a>
      <a href="{{ site.baseurl }}/news" {% if current[1] == 'news' %}class="active"{% endif %}>News</a>
      <a href="{{ site.baseurl }}/download" {% if current[1] == 'pages' %}class="active"{% endif %}>Download</a>
      <a href="{{ site.baseurl }}/docs" {% if current[1] == 'docs' %}class="active"{% endif %}>Documentation</a>
      <a href="http://kaosx.tk/packages">Packages</a>
      <a href="{{ site.baseurl }}/bugs">Bugs</a>
      <a href="http://kaos-community-packages.github.io/">KCP</a>
      <a href="http://forum.kaosx.us">Forum</a>
    </nav>
  </div>
</div>
</header>
