<div class="KCP-sponsors" id="donate">

  <p class="KCP-text">
  To support KaOS, donations can be made through CommunityBridge (part of the Linux Foundation). Funds will be used to offset server costs, obtain needed hardware, upgrade (build) servers and to fund the work of the people behind it.
  </p>

  <div class="Intro-actions">
    <a href="{{ site.baseurl }}/about/donors" class="Button">Donate</a>
  
    <a href="{{ site.baseurl }}/about/sponsors" class="Button">Sponsors</a>
  </div>
</div>
