<div class="KCP">
  <div class="KCP-members">
    <div class="KCP-member">
      <h3>
        <a href="{{ site.baseurl }}/docs/package" title="Packaging Guide">
          <i class="fa fa-book fa-3x"></i>
        </a>
      </h3>
    </div>

    <div class="KCP-member">
      <h3>
        <a href="{{ site.baseurl }}/docs/kcp" title="KCP Guide">
          <i class="fa fa-university fa-3x"></i>
        </a>
      </h3>
    </div>
  </div>

  <p class="KCP-text">
   KaOS has limited repositories, for many users the options available will be plenty. 
   When that is not the case, one of the reasons why Pacman was chosen for package
   manager comes into play.  It offers about the easiest solution available to build 
   your own packages. KaOS Community Packages (KCP) was created so everyone can share
   the PKGBUILDs they created or adjusted for KaOS.
  </p>

  <div class="Intro-actions">
    <a href="http://kaos-community-packages.github.io/" class="Button">KCP</a>
    <a href="https://github.com/KaOS-Community-Packages/" class="Button" target="blank">Code</a>
  </div>
</div>
