<div class="KCP">
  <div class="KCP-members">
    <div class="screens-member">
      <h3>
        <a href="{{ site.baseurl }}/pages/gallery">
          <img src="{{ site.baseurl }}/img/screenshots/screens1.png" alt="" width="275" height="154">
          Plasmoids
        </a>
      </h3>
    </div>

    <div class="screens-member">
      <h3>
        <a href="{{ site.baseurl }}/pages/gallery">
          <img src="{{ site.baseurl }}/img/screenshots/screens2.png" alt="" width="275" height="154">
          Midna Dark
        </a>
      </h3>
    </div>
    <div class="screens-member">
      <h3>
        <a href="{{ site.baseurl }}/pages/gallery">
          <img src="{{ site.baseurl }}/img/screenshots/screens4.png" alt="" width="275" height="154">
          KaOS Wallpapers
        </a>
      </h3>
    </div>
  </div>

  <p class="KCP-text">
   Visit the Gallery page for screenshots, video showcase and insructitional videos.
  </p>

  <div class="KCP-actions">
    <a href="{{ site.baseurl }}/pages/gallery" class="Button">Gallery</a>
  </div>
</div>
