<aside class="Docs-nav">
  <h4>ISO</h4>
  <img alt="Downloads of KaOS at SourceForge" title="Total downloads from SourceForge" src="https://img.shields.io/sourceforge/dt/kaosx?color=blue&style=flat-square" >

  <ul style="none">
    <li><a href="https://sourceforge.net/projects/kaosx/files/ISO/KaOS-2020.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'sf', eventValue: 1});">KaOS ISO</a></li>
    <li><a href="http://mirror6.layerjet.com/kaos/KaOS-2020.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'de', eventValue: 1});">German Mirror</a></li>
    <li><a href="http://kaos.youm.org/KaOS-2020.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'fr', eventValue: 1});">French Mirror</a></li>
    <li><a href="https://mirrors.shu.edu.cn/kaoslinux/KaOS-2020.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'ch', eventValue: 1});">Chinese Mirror</a></li>
    <li><a href="http://193.86.184.157/kaos/KaOS-2020.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'cz', eventValue: 1});">Czech Mirror</a></li>
    <a href="https://mirror.math.princeton.edu/pub/kaoslinux/KaOS-2020.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'usa', eventValue: 1});">USA Mirror</a>
    <!--<li><a href="https://iso.k0nsl.org/KaOS/KaOS-2017.04-x86_64.iso"  onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'usa2', eventValue: 1});">Second USA Mirror</a></li> -->
    <!--<li><a href="https://distrowatch.com/dwres/torrents/KaOS-2019.06-x86_64.iso.torrent" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'torrent', eventValue: 1});">KaOS Torrent</a></li> -->
    <!--<li><a href="{{ site.baseurl }}/media/KaOS-2018.04-x86_64.iso.torrent" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'torrent2', eventValue: 1});">Second KaOS Torrent</a></li> -->
  </ul>
  
  <h4>ISO Support</h4>
  
  <ul style="none">
    <li><a href="{{ site.baseurl }}/docs/usb_flash/">Bootable USB Flash Drive</a></li>
    <li><a href="{{ site.baseurl }}/docs/dvd/">Create DVD Install Media</a></li>
    <li><a href="https://github.com/KaOSx/live-uefi/raw/master/configs/shared/overlay/home/live/Desktop/info/guide.pdf">PDF Installation Guide</a></li>
  </ul>
  
  <h4>GPG Verification</h4>
  
  <ul style="none">
    <li><a href="{{ site.baseurl }}/media/KaOS.asc">KaOS Signing Key</a></li>
    <li><a href="{{ site.baseurl }}/media/KaOS-2020.07-x86_64.iso.sig">ISO GPG signature</a></li>
  </ul>
  
  <h4>Mirrors</h4>
  
  <ul style="none">
    <li><a href="http://kaosx.tk/packages/mirrors.php">Mirror Status</a></li>
  </ul>
    
  <h4>Screenshots</h4>
  
  <ul style="none">
    <li><a href="{{ site.baseurl }}/pages/gallery/">Gallery</a></li>
  </ul>

</aside>
