<aside class="Docs-nav">
  <h4>ISO</h4>

  <ul style="none">
    <li><a href="http://sourceforge.net/projects/kaosx/files/ISO/KaOS-2016.07-x86_64.iso">KaOS ISO</a></li>
    <li><a href="http://mirror6.layerjet.com/kaos/KaOS-2016.07-x86_64.iso">German Mirror</a></li>
    <li><a href="http://kaos.youm.org/KaOS-2016.07-x86_64.iso">French Mirror</a></li>
    <li><a href="http://193.86.184.157/kaos/KaOS-2016.07-x86_64.iso">Czech Mirror</a></li>
    <li><a href="https://iso.k0nsl.org/KaOS/KaOS-2016.07-x86_64.iso">USA Mirror</a></li>
    <li><a href="http://kaosx.tk/repo/KaOS-2016.06-x86_64.iso.torrent"></a></li>
  </ul>
  
  <h4>ISO Support</h4>
  
  <ul style="none">
    <li><a href="{{ site.baseurl }}/docs/usb_flash/">Bootable USB Flash Drive</a></li>
    <li><a href="{{ site.baseurl }}/docs/dvd/">Create DVD Install Media</a></li>
    <li><a href="https://github.com/KaOSx/live-uefi/raw/master/configs/shared/overlay/home/live/Desktop/info/guide.pdf">PDF Installation Guide</a></li>
  </ul>
    
  <h4>Screenshots</h4>
  
  <ul style="none">
    <li><a href="{{ site.baseurl }}/pages/gallery/">Gallery</a></li>
  </ul>

</aside>
