<aside class="Docs-nav">
  <h4>ISO</h4>
  <!--<img alt="Downloads of KaOS at SourceForge" title="Total downloads from SourceForge" src="https://img.shields.io/sourceforge/dt/kaosx?color=blue&style=flat-square" > -->
  <a href="https://sourceforge.net/projects/kaosx/files/latest/download"><img alt="Download KaOSx" src="https://img.shields.io/sourceforge/dt/kaosx.svg" ></a>

  <ul style="none">
    <li><a href="https://sourceforge.net/projects/kaosx/files/ISO/KaOS-2024.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'sf', eventValue: 1});">KaOS ISO</a></li>
    <li><a href="https://mirror.234.cz/kaos/KaOS-2024.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'cz', eventValue: 1});">Czech Mirror</a></li>
    <li><a href="https://mirror.math.princeton.edu/pub/kaoslinux/KaOS-2024.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'usa', eventValue: 1});">USA Mirror</a></li>
    <li><a href="https://kaosx.yourhostingsolutions.com/KaOS-2024.07-x86_64.iso" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'usa2', eventValue: 1});">Kansas-USA Mirror</a></li>
    <li><a href="https://www.miraa.jp/kaos/KaOS-2024.07-x86_64.iso">Japanese Mirror</a></li>
    <!--<li><a href="https://fosstorrents.com/files/KaOS-2024.07-x86_64.iso.torrent" onClick="ga('send', 'event', { eventCategory: 'downloads', eventAction: 'click', eventLabel: 'torrent', eventValue: 1});">KaOS Torrent</a></li>-->
  </ul>
  
  <h4>ISO Support</h4>
  
  <ul style="none">
    <li><a href="{{ site.baseurl }}/docs/usb_flash/">Bootable USB Flash Drive</a></li>
    <li><a href="{{ site.baseurl }}/docs/dvd/">Create DVD Install Media</a></li>
    <li><a href="https://github.com/KaOSx/live-uefi/raw/master/configs/shared/overlay/home/live/Desktop/info/guide.pdf">PDF Installation Guide</a></li>
  </ul>
  
  <h4>GPG Verification</h4>
  
  <ul style="none">
    <li><a href="{{ site.baseurl }}/media/KaOS.asc">KaOS Signing Key</a></li>
    <li><a href="{{ site.baseurl }}/media/KaOS-2024.07-x86_64.iso.sig">ISO GPG signature</a></li>
  </ul>
  
  <h4>Mirrors</h4>
  
  <ul style="none">
    <li><a href="https://kaosx.us/packages/mirrors.php">Mirror Status</a></li>
  </ul>
    
  <h4>Screenshots</h4>
  
  <ul style="none">
    <li><a href="{{ site.baseurl }}/pages/gallery/">Gallery</a></li>
  </ul>

</aside>
