body {
  background: #fff;
  color: #666666;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}
body, input, select, textarea, button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

a {
  color: #7E96B3;
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: #CCD6E4;
  padding-bottom: 1px;
  transition: border-color 0.2s, color 0.2s;
}
a:hover {
  border-color: #31A3DD;
  color: #31A3DD;
}

h2 {
  font-size: 36px;
  color: #31A3DD;
  font-weight: 300;
  font-family: 'Raleway';
}

code {
    font-family: monospace;
    color: #6EAF8B;
    background: #F9FCFA;
}

.lead {
  font-size: 120%;
}

.Button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  border: 2px solid #CCD6E4;
  border-radius: 6px;
  padding: 15px 30px;
  display: inline-block;
  line-height: 1em;
}
.fixed {
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 65px;
  width: 100%;
  background: #FFFFFF;
  opacity: 0.98;
  border-bottom: 2px solid #EDF0F2;
}
// correct toc linking for header, 65 offset needed
.offset:before { 
    display: block; 
    content: " "; 
    height: 65px;      /* height of fixed element */
        margin-top: -65px; /* negative margin of fixed element */  	
        visibility: hidden; 
}
@media (max-width: 920px) {
  .fixed {
    position: static;
    border-bottom: 0px solid #EDF0F2;
  }
}
.Header {
  overflow: hidden;
  border-top: 0px solid #34495E;
  padding-bottom: 0px;
}

.Header-brand {
  float: left;
  margin: -6px;
}
.Header-brand a {
  border: 0;
}
.Header-brand img {
  display: block;
  margin: 0 auto;
}
.Header-nav {
  float: right;
  margin-top: 8px;
}
.Header-nav a {
  border: 0;
  margin: 0 10px;
  margin-bottom: 5px;
  display: inline-block;
}
.Header-nav a.active {
  color: #2c3e50;
}
.social_header {
  padding-right: 20px;
  text-align: right;
  
  @extend .animated;
  @extend .fadeDown;
}
.social_header a {
  color: #CCD6E4;
  border-bottom: 0px solid;
}
.social_header a:hover {
  color: #31A3DD;
}

@include respond-to(handhelds) {
  .Header {
    padding: 15px 0;
    text-align: center;
  }
  .Header-brand,
  .Header-nav {
    float: none;
  }
  .Header-nav a {
    //display: block;
  }
  .Header-brand {
    margin-bottom: 20px;
  }
}

.Hero {
  background: #EDF0F2;
  border: #fff;
  border-width: 2px 0;
  padding: 40px 0;
  color: #7E96B3;
  margin-top: 55px;
}
.Hero h2 {
  color: #536F90;
  font-size: 35px;
  font-family: 'Raleway';
  font-weight: 500;
  margin: 0;
}
.Hero p {
  font-size: 20px;
  margin: .5em 0 0;
}

@include respond-to(handhelds) {
  .Hero {
    padding: 20px 0;
    margin-top: 90px;
  }
}

.Footer {
  text-align: center;
  margin: 100px 0;
  line-height: 2em;
}
.Footer a {
  border: 0;
}
.Footer-nav {
  margin-bottom: 5px;
}
.Footer-nav a, .Footer-copyright span {
  margin: 0 8px;
}

.fa {
 margin-right: 5px;
}

@include respond-to(handhelds) {
  .Footer {
    margin: 30px 0;
  }
}

.container-narrow {
  // max-width: 800px;
}
.story {
  font-size: 20px;
  color: #444;
  padding-top: 20px;

  h2 {
    color: #444;
    font-size: 28px;
    font-weight: 600;
    margin: 1em 0 .5em;
  }
}

#wrapper3 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	box-shadow: 1px 0 20px 0 rgba(0,0,0,2);
	margin: 20px auto 20px auto;
	padding: 20px 20px 20px 20px;
	position: relative;
	height: 250px;
        width:95%
}
#wrapper3 img {
  padding-right: 20px;
}

.news-img-left {
    width: 350px;
    margin: 10px 10px 10px auto;
    float: left;
}

.news-img-right {
    width: 350px;
    margin: 10px auto 10px 10px;
    float: right;
}

.kcp-img-right {
    width: 250px;
    margin: 10px auto 10px 10px;
    float: right;
}

.news-horizontal-right {
    width: 100px;
    margin: 10px auto 10px 10px;
    float: right;
}
// scroll to top
.crunchify-top:hover {
	color: #31A3DD !important;
	text-decoration: none;
}
 
.crunchify-top {
	display: none;
	position: fixed;
	bottom: 3rem;
	right: 1rem;
	font-size: 2.4rem;
	color: #CCD6E4;
	text-decoration: none;
	cursor: pointer;
}

// Gallery Page 
.glImg {
    border-radius: 1px;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;
    height: 165px;
    text-decoration: none;
}

.glImg:hover {
    opacity: 0.7;
}

.rss {
    float: right;
}

//Transifex
.txlive-langselector { 
    background-color: #fcfcfc;
    box-shadow: 0 0 0px #CCD6E4;
    color: #3c5675;
}
.txlive-langselector.txlive-langselector-bottomright .txlive-langselector-toggle { 
    border:2px solid #CCD6E4;
    padding:2px 16px;
}    
.txlive-langselector-list { 
    background-color:#EFF2F6;
    box-shadow: 0 0 4px rgba( 0,0,0,0.3 );
    color:#666;
}
.txlive-langselector-list > li:hover {
    background-color:#31A3DD;
    color:#fff;
    cursor:pointer;
    cursor:hand;
}
.txlive-langselector-bottomright > .txlive-langselector-list {
    border-top: 1px solid #CCD6E4;
    border-bottom: 1px solid #CCD6E4;
    border-left: 1px solid #CCD6E4;
    border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
}

//image caption
.image-wrapper {
    text-align: center;
    width: 300px;
    margin: 10px auto 10px 10px;
    float: right;

    .image-caption {
        color: #777;
        margin-top: 3px;
        font-size: 10px;
        font-weight: 300;
        font-family: 'Open Sans';
    }
}
