---
layout: default
---
<header class="Hero">
  <div class="container">
    <h2>Documentation</h2>
  </div>
</header>

<form class="srch" action="/search.html" method="get">
  <label for="search_box"><i class="fa fa-search" aria-hidden="true"></i></label>
  <input type="text" id="search_box" name="query" placeholder="What are you looking for?">
  <input type="submit" value="search">
</form>

<div class="Docs">
  <div class="container">

    {% include docs_contents.html %}

    <article>
      <h1>{{ page.title }}</h1>
      {{ content }}
      {% include section_nav.html %}
    </article>

  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
