---
layout: default
---
<header class="Hero">
  <div class="container">
    <h2>News</h2>
  </div>
</header>

<div class="Docs">
  <div class="container">

    <div class="Docs-nav">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle">News Articles</label>
        <div class="collapsible-content">
            <div class="content-inner">
                {% include news_contents.html %}
            </div>
        </div>
    </div>

    <article>
      <h1>{{ page.title }}</h1>
      <p align="right"><b><small>{{ page.date | date: "%b %-d, %Y" }}</small></b></p>
      {{ content }}
      {% include sectionnews_nav.html %}
    </article>

  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
